.guest_section{
   background-image: url(./insta.svg);
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   
}
.title{
   margin: auto;
   font-style: normal;
   font-weight: bold;
   font-size: 60px;
   line-height: 90px;
   text-align: center;
   color: var(--color-white);
}
.section_register_field{
   display: block;
   margin: 32px auto;
   width: 450px;
   height: 82px;
}
.text{

   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 18px;
   letter-spacing: 0.872727px;
   color: var(--color-black);
}
.section_register_input{
   padding: 7px 0 7px 11px;
   height: 32px;
   margin-right: 12px;
   border-radius: 3px;
   border-color: var(--color-silver);
}
.section_register_btn{
   background-color: var(--color-b);
}
