.footer{
   background-color: var(--color-silver);
}
.footer_inner{
   display: flex;

}
.footer_item{

}
.title{
   font-family: CormorantGaramond;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1.16364px;
   color: var(--color-black);
}
.list{

}
.text{

}
