.footer{
   background-color: var(--color-silver);
}
.footer_inner{
   display: flex;
   justify-content: center;
   padding-top: 26px;
}
.footer_item{
   width: 146px;
   height: ;
   margin-bottom: 38px;
}
.title{
   margin-bottom: 17px;
   font-family: var(--text-cormorant-garamond);
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1.16364px;
   color: var(--color-black);
}
.list{
   list-style: none;
}
.text{
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 19px;
   letter-spacing: 0.1px;
   color: var(--color-black);
}
.copy_right{
   padding-bottom: 14px;
   font-style: normal;
   font-weight: normal;
   font-size: 9px;
   line-height: 13px;
   text-align: center;
   letter-spacing: 0.5px;
   color: var(--color-black);
}
