.guest_section{
   background-image: url(./insta.svg);
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   
}
.title{

}
.text{

}
.section_register_field{

}
.section_register_input{

}
.section_register_input{

}