.header{
   width: 100%;   
   height: 160px;
   /* background: linear-gradient(180deg, rgba(51, 51, 51, 0.9) 14.31%, rgba(27, 27, 27, 0.469176) 58.6%, rgba(0, 0, 0, 0.0001) 100%); */
   mix-blend-mode: normal;
   /* opacity: 0.24; */
   /* background: rgba(0, 0, 0, 0.1); */
   /* background-color: black; */
}
.header_body{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 24px;
}
.header_title{
   margin: 0;
   font-style: normal;
   font-weight: 600;
   font-size: 38px;
   line-height: 57px;
   letter-spacing: 0.95px;
   color: var(--color-black, --color-white);
   text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.input_wrap{
   position: relative;
}
.header_searcher{
   background-color: silver;
   mix-blend-mode: normal;
   opacity: 0.24;
   border-radius: 3px;
   width: 570px;
   height: 40px;
   color: var(--color-very-black);
}
.icon{
   position: absolute;
   width: 17px;
   height: 17px;
   top: 30%;
   right: 10px;
   /* background-color: var(--color-very-black) */
}
input::placeholder {
   padding: 16px;
   height: 17px;
   font-weight: 500;
   font-size: 11px;
   line-height: 16px;
   letter-spacing: 0.8px;
   color: var(--color-white);
 }
.header_user{
   font-style: normal;
   font-weight: 600;
   font-size: 11px;
   line-height: 16px;
   text-align: right;
   letter-spacing: 1px;
   color: var(--color-black, --color-white);
}
.header_list{
   list-style: none;
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   width: 620px;
   margin: 24px auto;
   padding-bottom: 25px;
}
.header_list__item{
   color: var(--color-black, --color-white);
   font-style: normal;
   font-weight: 600;
   font-size: 13px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}