.wrapper{
   width: 100%;
   height: 20px;
   display: flex;
}
.title{
   font-style: normal;
   font-weight: 500;
   font-size: 11px;
   line-height: 16px;
   text-align: center;
   letter-spacing: 0.8px;
}